# Python
__pycache__/
*.pyc

# Ambiente virtual
venv/
.env/

# Arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyInstaller
build/
dist/
*.spec

# Arquivos pessoais
ControleFinanceiro_2026.xlsx
~$*.xlsx

# Documentação local
ASSISTENTE.md