# arquivos compilados
__pycache__/
*.pyc

# ambiente virtual
venv/
.env/

# arquivos do sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# dados locais do usuário
data.json

# arquivos de relatórios
ASSISTENTE.md
